@model IEnumerable<MovieReviewApp.Models.Review>
@{
    ViewBag.Title = "SearchResults";
}

<h2>Review Search Results</h2>
@if (Model.Count() == 0)
{
    <p>No matches.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Review Date</th>
                <th>Reviewer</th>
                <th>Title</th>
                <th>Stars</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x=>review.ReviewDate)</td>
                    <td>@review.Reviewer.Name</td>
                    <td>@Html.ActionLink(review.Movie.Title, "View", new { id = review.ID })</td>
                    <td>@Html.DisplayFor(x => review.Stars)</td>
                </tr>
            }
        </tbody>
    </table>
}
