@{
    ViewBag.Title = "Index";
}

<h2>Administration</h2>
<p>
    If you are configured as an administrator you are allowed to enter data directly into the movie database. 
    Choose a menu item above to get started.
</p>
