@model MovieReviewApp.Models.Director

@{
    ViewBag.Title = "Details";
}

<article>

<h2>Details</h2>

<fieldset>
    <legend>Director</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

</article>

