
@{
    ViewBag.Title = "Search";
}

<h2>Movie Search</h2>
@using(Html.BeginForm())
{
    <fieldset>
        <legend></legend>
        <p>
            <label>Search</label>
            @Html.TextBox("term")
        </p>
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}
