@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2>

<p>Not a member? No problem! @Html.ActionLink("Create an account.", "CreateAccount", "Home")</p>
<p>Already a member? @Html.ActionLink("Login here.", "Login", "Auth")</p>